= form_for @comment, :as => :comment, :url => comfy_blog_comments_path(@cms_site.path, @blog.path, @post.slug) do |form|
  
  = form.hidden_field :author_id, :value=> current_user.id
  %label New Comment
  %br  
  = form.text_area :content, :size=>"45x5"
  %br
  = form.submit 'Submit'