<script type="text/javascript">
  $(function() {
    <% if @announcements.is_published? %>
    $("#main").prepend("<%= escape_javascript content_tag(:div, cms_block_content(:content, @announcements).html_safe, :class=>"announcements")%>");
    <% end %>
  });
</script>

<div class="box">
  <div class="wod_box">
    <div id="workout">
      Workout of the day
    </div>
    <% @wods.each do |w| %>
      <div id="wod_post">
        <%=w.title%> <br/>
        <%=w.content.html_safe %>
      </div>
    <% end %>
  </div>
</div>


